gitHeadInfo.gin
R/.Rapp.history
*.DS_Store
inst/cardtemplates/AveryZweckformC32010-concordance.tex
inst/cardtemplates/AveryZweckformC32010.log
inst/cardtemplates/AveryZweckformC32010.pdf
inst/cardtemplates/AveryZweckformC32010.synctex.gz
inst/cardtemplates/AveryZweckformC32010.tex
