import("methods",
       "psych",
       "digest",
       "tools",
       "xtable",
       "knitr")
export("qmethod",
       "qzscores",
       "qflag",
       "qfcharact",
       "q.fnames",
       "qdc",
       "qdc.zsc",
       "import.pqmethod",
       "export.pqmethod",
       "import.htmlq",
       "import.easyhtmlq",
       "build.q.set",
       "import.q.concourse",
       "import.q.sorts",
       "import.q.feedback",
       "make.cards",
       "export.qm",
       "make.cards",
       "make.distribution",
       "qmboots",
       "qmb.summary",
       "qmb.plot",
       "qindtest",
       "qpcrustes",
       "qfsi",
       "qbstep",
       "loa.and.flags",
       "centroid",
       "runInterface")
importFrom("grDevices", "grey", "rainbow", "gray")
importFrom("graphics", "abline", "axis", "dotchart", "points", "legend", "mtext", "segments")
importFrom("stats", "cor", "dnorm", "na.omit", "qnorm", "quantile", "sd", "var", "varimax")
importFrom("utils", "capture.output", "combn", "read.csv", "read.csv2", "read.delim", "read.fwf", "packageVersion")
S3method("plot",
         "QmethodRes")
S3method("summary",
         "QmethodRes")
S3method("print",
         "QmethodRes")

